* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body {
	display: grid;
	min-height: 100vh;

	grid-template-rows: 10rem 18rem 1fr;
	grid-template-areas:
		"header header"
		"aside aside"
		"main main";
}

/*
####################
### HEADER #########
####################
*/
body > header {
	background-image: url("./background.jpeg");
	grid-area: header;

	gap: 1rem;
}
body > header > div.first > div.mobile {
	display: flex;
	justify-content: space-between;
}

body > header > div.first > div.desktop {
	display: none;
}
body > header > div.first > ul {
	list-style: none;
	display: flex;
}
body > header > div.first > ul > li > a {
	color: white;
	text-decoration: none;
}
/*
####################
### ASIDE #########
####################
*/

body > aside {
	grid-area: aside;
}
body > aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body > aside > div > img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
/*
####################
### MAIN #########
####################
*/
body > main {
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
}
body > main > section > img {
	width: 300px;
	height: 300px;
}
/*
##########################
### MEDIA QUERYS #########
##########################
*/

@media (min-width: 600px) {
	body {
		grid-template-rows: 20rem 1fr;
		grid-template-columns: 15rem 1fr;
		grid-template-areas:
			"header header"
			"aside main";
	}
	body > header > div.first > div.mobile {
		display: none;
	}
	body > header > div.first > div.desktop {
		display: flex;
		justify-content: space-between;
	}
} ;
