* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}
body {
	display: grid;
	min-height: 100vh;
	font-family: sans-serif;

	grid-template-rows: 10rem 21rem 1fr;
	grid-template-areas:
		"header header"
		"aside aside"
		"main main";
}

/*
####################
### HEADER #########
####################
*/
body > header {
	background-image: url("./background.jpeg");
	grid-area: header;
	gap: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
body > header > div.first > div.mobile {
	display: flex;
	justify-content: space-between;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(192, 201, 210);
}
body > header > div.first > div.mobile > button {
	background-color: blue;
	border: none;
	border-radius: 25px;
	color: white;
	width: 150px;
}

body > header > div.first > div.desktop {
	display: none;
}
body > header > div.first > ul {
	list-style: none;
	display: flex;
}
body > header > div.first > ul > li > a {
	color: white;
	text-decoration: none;
}
/*
####################
### ASIDE #########
####################
*/

body > aside {
	grid-area: aside;
}
body > aside {
	padding-left: 1rem;
	padding-right: 1rem;
}
body > aside > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}
body > aside > div > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	transform: translate(0, -50px);
}

body > aside > div > div > p {
	text-align: center;
	color: lightslategray;
	width: 240px;
}
body > aside > div > div > a {
	color: lightslategray;
	width: 240px;
	font-size: 0.9rem;
}
body > aside > div > div > div > button.oneblue {
	background-color: blue;
	color: white;
	width: 290px;
	border-radius: 25px;
	height: 30px;
}
body > aside > div > div > div > button.twowhite {
	background-color: white;
	color: blue;
	width: 290px;
	border-radius: 25px;
	height: 30px;
	border: 1px solid lightslategray;
}

body > aside > div > img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border: 10px solid white;
	transform: translate(0, -50px);
	padding-bottom: 0px;
}
/*
####################
### MAIN #########
####################
*/
body > main {
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 1rem;
}
body > main > header > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	gap: 0.5rem;
	width: 350px;
	font-weight: bold;
}
body > main > div > section > img {
	width: 400px;
	height: 400px;
}
/*
##########################
### MEDIA QUERYS #########
##########################
*/

@media (min-width: 600px) {
	body {
		grid-template-rows: 20rem 1fr;
		grid-template-columns: 28rem 1fr;
		grid-template-areas:
			"header header"
			"aside main";
	}
	body > header {
		grid-area: header;
	}
	body > aside {
		grid-area: aside;
	}
	body > main {
		grid-area: main;
	}
	body > header > div.first > div.mobile {
		display: none;
	}
	body > header > div.first > div.desktop {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgb(192, 201, 210);
	}
	body > header > div > div > ul {
		display: flex;
		list-style: none;
		gap: 1rem;
	}
	body > header > div > div > ul > li > a {
		text-decoration: none;
		color: white;
	}
	body > header > div > div > h1,
	h2 {
		color: white;
	}
	body > header > div > div > form > input {
		border-radius: 25px;
		background-color: rgba(255, 255, 255, 0.6);
		border: none;
		width: 300px;
		height: 40px;
		padding-left: 1rem;
	}
	body > header > div > div > div > button.whiteuno {
		background-color: white;
		width: 130px;
		height: 40px;
		border-radius: 25px;
		border: none;
	}
	body > header > div > div > div > button.bluedos {
		background-color: blue;
		width: 130px;
		height: 40px;
		border-radius: 25px;
		border: none;
		color: white;
	}
	body > header {
		position: relative;
	}
	body > aside {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 130px;
		left: 100px;
		background-color: white;
		min-height: 100vh;
		border: solid 1px lightgray;
	}
	body > aside > div > img {
		transform: none;
	}
	body > aside > div > div {
		transform: none;
	}
	body > aside > div > div > div > button.oneblue {
		border: none;
	}
	body > aside > div > div > div > button.twowhite {
		border: 1px solid rgba(138, 138, 221, 0.4);
	}
	body > main > div {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: space-around;
	}
	body > main > header {
		display: flex;
		justify-content: flex-start;
		width: 100%;
		padding-top: 4rem;
		padding-bottom: 1.5rem;
	}
	main > header > ul > li.work {
		background-color: black;
		border-radius: 25px;
		color: white;
		width: 100px;
		height: 30px;
		padding-top: 10px;
		text-align: center;
	}
	main > header > ul > li.panel {
		width: 200px;
	}
	body > main > header.foto > ul.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 5px;
	}
	body > header > div.first {
		background-color: rgba(0, 0, 0, 0.3);
	}
} ;
